h1 {
    color:#0000FF;
}

h2 {
    color:#FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 1px;
}

label {
    display: inline-block;
    width: 40%;
    margin: 5px;
    text-align: left;
    white-space: nowrap;
}

input[type=text], select {
    display: inline-block;
    margin: 1px;
    max-width: 200px;
}

button {
    padding: 5px;
    margin: 5px;
    width: 20%;
    max-width: 200px;
}

#main {
    width: 500px;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    align: left;
}